body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e3e9f7;
    max-width: 100%;
}
.legendas{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16pt;
}
.leite {
    position: relative;
    height: 20vh;
    width: 100vw;
    background-color:#003e81;

    background-attachment: fixed;

}
.seleMenu{

    font-family:Arial, Helvetica, sans-serif;
    font-size: 20pt;
    padding-top:1%;

    color: #f6f4f4;
}
.orga{
    padding-left:10%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
}
.p2{
    height:100%;
    margin-top:1%;
    margin-bottom:2%;
    margin-left: 15%;
    margin-right: 15%;

}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #26f607;
}

.button1:hover {
    background-color: #b8f3af;
    color: #0a62b9;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid rgb(226, 19, 19);
}

.button2:hover {
    background-color: #eea0a0;
    color: #e21313;
}
.button3 {
    background-color: white;
    color: #fd480c;
    border: 2px solid rgb(19, 47, 226);
}

.button3:hover {
    background-color: #a0ebee;
    color: #0713ff;
}
.button4 {
    background-color: white;
    color: #fd480c;
    border: 2px solid rgb(7, 7, 7);
}

.button4:hover{
    background-color:#a0ebee;
    color: #070707;
}
.labelInput{
    display: block;
    line-height:30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14pt;
}
.labelInput1{
    display:inline;
    line-height:40px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14pt;
}
td{
    width:2%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14pt;
}
tr{
    width: 100%;

}

.inputUser{

    line-height: 15%;
    background:  none;
    border-width: 1.2px;
    border-style: inset;
    border-color: #f4f6f4;
    outline: none;
    color: #070707;
    width: 40%;
    height: 25px;
    opacity: 0.8;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12pt;
}